@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@5.0.1/index.css');

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: local('Pretendard Regular'), local('Pretendard-Regular'), url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: local('Pretendard SemiBold'), local('Pretendard-SemiBold'), url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/woff2/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: local('Cascadia Code Regular'), local('CascadiaCode-Regular'), local('Cascadia Code'), url('https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@5.0.1/files/cascadia-code-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 600;
  src: local('Cascadia Code Bold'), local('CascadiaCode-Bold'), local('Cascadia Code'), url('https://cdn.jsdelivr.net/npm/@fontsource/cascadia-code@5.0.1/files/cascadia-code-latin-600-normal.woff2') format('woff2');
}
